$baseDir: '/assets/';
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-famiy-name__base: 'Poppins';
$font-family__base: $font-famiy-name__base, $font-family-sans-serif;

// color

$color-black: #111;
$color-black2: #222;
$color-white: #fff;
$color-red: #dd2f31;
$color-gray: #777;
$color-text--white: $color-white;
$color-text--black: #000;
$color-text--gray: $color-gray;
$color-header-bacground: rgba(0, 0, 0, 0.6);
$color-gray2: #ddd;
$color-gray3: #ccc;
$color-gray4: #444;

// translate
$translatenX: -50%;
$translateY: -50%;

$scale: 1;
$transform: translate(-50%, -50%);
